.question-page {
  background: rgba(0, 0, 0, 0.27);
  /* Semi-transparent white background */
  /*background-image: linear-gradient(to bottom right, #000321, #020d73, #010633, #010633, #000321, #000321);*/
  color: rgba(255, 255, 255, 0.71);

  /* White text for better contrast on dark or glassy backgrounds */
  width: 90vw;
  /*margin: 60px auto;*/
  border-radius: 10px;
  /* Rounded corners for a softer look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Light shadow for depth */
  backdrop-filter: blur(10px);
  /* Frosted glass effect */
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* Optional border for a glassy look */
}

.question {
  font-size: 2rem;
  margin-bottom: 20px;
}

.question-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.answer {
  font-size: 1.2rem;
  line-height: 1.6;
}

.error {
  color: red;
  text-align: center;
  margin-top: 20px;
}